<% if @profile.nil? -%>
	<% content_for :header do -%>
		<%= I18n.t(:'txt.profile_not_be_found') %>
	<% end -%>
	
	<p><%= I18n.t(:'txt.the_profile_you_requested_does_not_exist.') %></p>
<% else -%>
	<% content_for :header do -%>
		<%= I18n.t(:'txt.editing_my_profile') %>
	<% end -%>

	<%= render :partial => 'profiles/my_account' if current_user == @user %>
	
	<% form_for :profile, @profile, :url => profile_url(@profile.user), :html => {:method => :put} do |f| %>
	
	<% @profile.public_attributes.each do |column| -%>
		<p><label><%= column.humanize %></label><br />
		<%= input "profile", "#{column}", :value => @profile.send(column) %>
		</p>
	<% end -%>
	
	<%= submit_tag I18n.t(:'txt.save_changes') %>
	
	<% end %>
<% end -%>