<% if @profile.nil? -%>
	<% content_for :header do -%>
		<%= I18n.t(:'txt.profile_not_be_found') %>
	<% end -%>
	
	<p><%= I18n.t(:'txt.the_profile_you_requested_does_not_exist.') %></p>
<% else -%>
	<div style="float: right; margin: 10px">
		<%= gravatar_for @user %>
	</div>
	
	<% content_for :header do -%>
		<% if current_user == @user -%>
			My Account
		<% else -%>
			Profile for <%= @user.login %>
		<% end -%>
	<% end -%>
	
	<%= render :partial => 'profiles/my_account' if current_user == @user %>
	
	<%= render :partial => 'profiles/account_details' if current_user == @user %>
	
	<%= render :partial => 'profiles/profile_details' %>
<% end -%>
